<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>

<h2 class="celEsttruturaMT">ESTRUTURA A INSTALAR</h2>

<table>
  <tr>
    <th class="celEsttruturaMT" colspan="2">DESCRIÇÃO</th>
    <th class="celEsttruturaMT" >MATERIAL</th>
    <th class="celEsttruturaMT">QUANTIDADE</th>
  </tr>

  <!--LINHA 1-->
  <tr>
    <td class="celEsttruturaMT">POSTE </td>
    <td></td>
    <td>
       <!-- DateList -->
    <label for="browser"></label>
    <input list="browsers" name="browser" id="browser" />
    <datalist id="browsers">
      <option value="DT9200"></option>
      <option value="DT9300"></option>
      <option value="DT9600"></option>
      <option value="DT91000"></option>
      <option value="DT11300"></option>
    </datalist>
    </td>
    <td>
      <input type="number" min="0" max="100">
    </td>
  </tr>

    <!--LINHA 2 a 5-->
  <tr>
    <td class="celEsttruturaMT" rowspan="4">ESTRUTURA DE MT</td>
    <td>1º NÍVEL</td>
    <td>
      <label for="browser1"></label>
      <input list="browsers1" name="browser1" id="browser1" />
      <datalist id="browsers1">
        <option value="CE1"></option>
        <option value="CE2"></option>
        <option value="CE3U"></option>
        <option value="CE3C"></option>
        <option value="CE4C"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
  <tr>
    <td>2º NÍVEL</td>
    <td>
      <label for="browser2"></label>
      <input list="browsers2" name="browser2" id="browser2" />
      <datalist id="browsers2">
        <option value="CE1"></option>
        <option value="CE2"></option>
        <option value="CE3U"></option>
        <option value="CE3C"></option>
        <option value="CE4C"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
  <tr>
    <td>3º NÍVEL</td>
    <td>
      <label for="browser3"></label>
      <input list="browsers3" name="browser3" id="browser3" />
      <datalist id="browsers3">
        <option value="CE1"></option>
        <option value="CE2"></option>
        <option value="CE3U"></option>
        <option value="CE3C"></option>
        <option value="CE4C"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
  <tr>
    <td>4º NÍVEL</td>
    <td>
      <label for="browser4"></label>
      <input list="browsers4" name="browser4" id="browser4" />
      <datalist id="browsers4">
        <option value="CE1"></option>
        <option value="CE2"></option>
        <option value="CE3U"></option>
        <option value="CE3C"></option>
        <option value="CE4C"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>

  </tr>
  <tr>
    <td colspan="2">ESTRUTURA DE BT</td>
    <td>
      <label for="browser5"></label>
      <input list="browsers5" name="browser5" id="browser5" />
      <datalist id="browsers5">
        <option value="SI1"></option>
        <option value="SI3"></option>
        <option value="SI4"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>
  </tr>

  <tr>
    <td colspan="2">TRAFOS</td>
    <td>
      <label for="browser6"></label>
      <input list="browsers6" name="browser6" id="browser6" />
      <datalist id="browsers6">
        <option value="3-30KVA"></option>
        <option value="3-45KVA"></option>
        <option value="3-75KVA"></option>
        <option value="3-112,5KVA"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>
  </tr>

  <tr>
    <td colspan="2" rowspan="4" >SECCIONADORAS</td>
    <td>CPF</td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
  <tr>
     <td>
      <label for="browser7"></label>
      <input list="browsers7" name="browser7" id="browser7" placeholder="ELO FUSIVEL"/>
      <datalist id="browsers7">
        <option value="1H"></option>
        <option value="2H"></option>
        <option value="3H"></option>
        <option value="5H"></option>
        <option value="6K"></option>
      </datalist>
    </td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
  <tr>
    <td>C.U.C 400A</td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
  <tr>
    <td>C.U.C 600A</td>
    <td><input type="number" min="0" max="100"></td>
  </tr>
</table>

</body>
</html>

